@model PayWeb.Controllers.FormController.BranchViewModel

<form id="branchesForm" method="post">
    <div class="mb-3">
        <label for="code" class="form-label">Código</label>
        <input type="text" class="form-control" id="code" name="code" required>
    </div>
    <div class="mb-3">
        <label for="branchName" class="form-label">Nombre de la Sucursal</label>
        <input type="text" class="form-control" id="branchName" name="BranchName" required>
    </div>
    <div class="mb-3">
        <label for="codinterfase" class="form-label">Cod. Interfase</label>
        <input type="text" class="form-control" id="codinterfase" name="codinterfase" required>
    </div>
</form>