@model PayWeb.Controllers.FormController.BranchViewModel

<form id="divisionForm" method="post" action="/Form/SaveDivision">
    <div class="row">
        <div class="col-md-3 mb-3">
            <label for="code" class="form-label">Código</label>
            <input type="text" class="form-control" id="code" name="code" required>
        </div>
        <div class="col-md-9 mb-3">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="codinterfase" class="form-label">Cod. Interfase</label>
            <input type="text" class="form-control" id="codinterfase" name="codinterfase" required>
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label d-block">Status</label>
            <div class="form-check form-switch">
                <input class="form-check-input company-toggle-switch" type="checkbox" id="isActive" name="isActive" checked>
                <label class="form-check-label" for="isActive">Activo</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input company-toggle-switch" type="checkbox" id="" name="isCancelled">
                <label class="form-check-label" for="isCancelled">Cancelado</label>
            </div>
        </div>
    </div> 
</form>